/* 
header
*/

.header {
    display: flex;
    /* フレックスボックスでレイアウトを制御 */
    justify-content: space-between;
    /* 左端と右端にアイテムを配置 */
    align-items: center;
    /* 垂直方向に中央揃え */
    background-color: black;
    /* 背景色を黒に設定 */
    color: white;
    /* 文字色を白に設定 */
    padding: 0 20px;
    /* 左右にパディングを追加 */
    width: 100%;
    height: 10vh;
    border-bottom: 0.5vh white solid;
    position: fixed;
    z-index: 99;
}

/* ヘッダー内のロゴ */
.header1 {
    display: flex;
    /* フレックスボックスで中央配置 */
    align-items: center;
    /* 垂直方向に中央揃え */
    justify-content: left;
    /* 横方向に右揃え */
    margin-left: 5vw;

}

.brandname {
    font-family: "Yu Mincho Demibold";
}

/* ヘッダー内のナビゲーション */
.header2 {
    display: flex;
    /* フレックスボックスでレイアウトを制御 */
    align-items: center;
    /* 垂直方向に中央揃え */
    margin-right: 3vw;
}

/* ナビゲーションのリスト */
.click {
    display: flex;
    /* フレックスボックスでリストを横並びにする */
    list-style: none;
    /* デフォルトのリストスタイルを削除 */
    margin-top: 2vh;
    /* マージンをリセット */
    padding: 0;
    /* パディングをリセット */
}

/* リストアイテム */
.click>li {
    margin: 1vw;
    /* アイテム間にマージンを追加 */
}

/* リンクのスタイル */
.click>li>a {
    color: white;
    /* リンクの文字色を白に設定 */

    /* リンクの下線を削除 */
    border-bottom: 0.5vh transparent solid;
    transition: border-bottom .5s ease;
}

a {
    text-decoration: none;
}

/* リンクにホバー時のスタイル */
.click>li>a:hover {
    text-decoration: underline;
    color: gray;

    /* ホバー時に下線を追加 */
}

/* main */


#back {
    background-color: hsla(0, 0%, 0%, 1);
    width: 100%;
    height: 100%;

}

.back2 {
    position: relative;
    z-index: 0;
}



.clod1 {
    opacity: 0.6;
    position: absolute;
    position: fixed;
    background-attachment: fixed;
    margin-top: 10vh;
    margin-left: 5vw;
    width: 25vw;
    height: 25vh;
    z-index: -1;
}

.clod2 {
    opacity: 0.6;
    position: absolute;
    position: fixed;
    background-attachment: fixed;
    margin-top: 60vh;
    margin-left: 5vw;
    width: 25vw;
    height: 25vh;
    z-index: -1;
}

.clod3 {
    opacity: 0.6;
    position: absolute;
    position: fixed;
    background-attachment: fixed;
    margin-top: 10vh;
    margin-left: 65vw;
    width: 25vw;
    height: 25vh;
    z-index: -1;
}

.clod4 {
    opacity: 0.6;
    position: absolute;
    position: fixed;
    background-attachment: fixed;
    margin-top: 60vh;
    margin-left: 65vw;
    width: 25vw;
    height: 25vh;
    z-index: -1;
}


/* 
hero(section1)
*/

.brandname {
    font-size: 4vb;
}


#top {
    color: aliceblue;
    width: auto;
    height: 100vh;
    position: relative;
}

.logo-top {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20vb;
    color: aliceblue;
}

i {
    font-style: italic;
}

/* section2 */
#name {
    color: aliceblue;
    width: auto;
    height: 160vh;
    position: relative;
}

.namereason {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6vb;
    width: 100%;

}

.smile {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    height: 70vh;
    border: 2vb #663300 solid;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "游明朝";
    line-height: 5vh;
}


/* section3 */


#clothes {
    height: 270vh;
    display: flex;
    flex-direction: column;
    z-index: 99;
}

.shirt-text {
    font-size: 12vb;
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 18vh;
    height: 20vh;
    font-family: "Yu Gothic UI Semibold";

}

.clod9shirt {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2列のグリッドを作成 */
    grid-gap: 2.5rem;
    /* アイテム間のスペースを設定 */
    margin-top: 20vh;
    /* margin-left: 10vw;
    margin-right: 10vw; */
    place-items: center;

}

.T-shirt {

    display: flex;
    flex-direction: column;
    /* 画像とテキストを縦に並べる */
    align-items: center;
    /* アイテムを中央揃え */
    text-align: center;
    /* テキストを中央揃え */


}

.T-shirt img {
    width: 45vb;
    /* 画像の幅を親要素に合わせる */
    height: 45vh;
    /* 画像の高さを自動調整 */
    border: 2vh #663300 solid;
    margin: 0 3vw;
}

.price {
    text-align: center;
    /* テキストを中央揃えにする */
    margin-top: 1rem;
    margin-left: 5vw;
    /* テキストと画像の間にスペースを追加 */
    width: 40vb;
    color: black;
    border: 1vh #663300 solid;
    background-color: white;
}



/* footer */
#sns {
    background-color: black;
    height: 20vh;

}

#sns2 {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 5vh;

}

.logo-foot {
    font-size: 10vb;
    color: white;
    margin-left: 5vw;
    margin-right: 5vw;
}

.url {
    width: 5vw;
    height: 7vh;
}