/* 
header
*/

.header {
    display: flex;
    /* フレックスボックスでレイアウトを制御 */
    justify-content: space-between;
    /* 左端と右端にアイテムを配置 */
    align-items: center;
    /* 垂直方向に中央揃え */
    background-color: black;
    /* 背景色を黒に設定 */
    color: white;
    /* 文字色を白に設定 */
    padding: 0 20px;
    /* 左右にパディングを追加 */
    width: 100%;
    height: 5rem;
    border: 0.15rem white solid;
    position: fixed;
    z-index: 99;
}

/* ヘッダー内のロゴ */
.header1 {
    display: flex;
    /* フレックスボックスで中央配置 */
    align-items: center;
    /* 垂直方向に中央揃え */
    justify-content: left;
    /* 横方向に右揃え */
    margin-left: 4rem;
}

/* ヘッダー内のナビゲーション */
.header2 {
    display: flex;
    /* フレックスボックスでレイアウトを制御 */
    align-items: center;
    /* 垂直方向に中央揃え */
    margin-right: 3rem;
}

/* ナビゲーションのリスト */
.click {
    display: flex;
    /* フレックスボックスでリストを横並びにする */
    list-style: none;
    /* デフォルトのリストスタイルを削除 */
    margin-top: 1rem;
    /* マージンをリセット */
    padding: 0;
    /* パディングをリセット */
}

/* リストアイテム */
.click>li {
    margin: 0 1rem;
    /* アイテム間にマージンを追加 */
}

/* リンクのスタイル */
.click>li>a {
    color: white;
    /* リンクの文字色を白に設定 */
    text-decoration: none;
    /* リンクの下線を削除 */
    border-bottom: 1px transparent solid;
    transition: border-bottom .5s ease;
}

/* リンクにホバー時のスタイル */
.click>li>a:hover {
    text-decoration: underline;
    color: gray;

    /* ホバー時に下線を追加 */
}


/* 
hero(section1)
*/

.brandname {
    font-size: 3rem;
}

#main {
    background-color: hsla(0, 0%, 0%, 0.9);
}

#top {
    color: aliceblue;
    width: auto;
    height: 50rem;
    border: 0.3rem white solid;
    position: relative;
}

.logo-top {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10rem;
    color: aliceblue;
}

i {
    font-style: italic;
}

/* section2 */
#name {
    color: aliceblue;
    width: auto;
    height: 80rem;
    border: 0.3rem white solid;
    position: relative;
}

.namereason {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;

}

.smile {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%rem;
    height: 35rem;
    border: 1rem black solid;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "游明朝";
    line-height: 3rem;
}

.name-logo {
    color: brown;
    line-height: 3rem;
}

/* section3 */


/* #clothes {
    display: flex;
    justify-content: center;
    align-items: center;
} */

#clothes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2列のグリッドを作成 */
    grid-gap: 2rem;
    /* アイテム間のスペースを設定 */
    height: 150rem;
}

.T-shirt img {
    width: 30rem;
    /* 画像の幅を親要素に合わせる */
    height: 30rem;
    /* 画像の高さを自動調整 */
}

.T-shirt p {
    text-align: center;
    /* テキストを中央揃えにする */
    margin-top: 8px;
    /* テキストと画像の間にスペースを追加 */
}

.photo {
    width: 5rem;
    height: 8rem;
}

.price {
    color: aliceblue;
}